{
  "extends": ["eslint-config-jet"],
  "rules": {
    'no-magic-numbers': ['off', {
      ignore: [],
      ignoreArrayIndexes: true,
      enforceConst: true,
      detectObjects: false,
    }],
  }
}
